In [2]:
import pandas as pd
from pathlib import Path

base = Path.cwd() 

df = pd.read_csv("birdclef-2023/train_metadata.csv")
df.head() # Examine first few rows of metadata to understand its structure

,primary_label,secondary_labels,type,latitude,longitude,scientific_name,common_name,author,license,rating,url,filename
0,barswa,[],"['call', 'flight call']",46.4605,6.3914,Hirundo rustica,Barn Swallow,Bram Piot,Creative Commons Attribution-NonCommercial-Sha...,2.5,https://www.xeno-canto.org/113914,barswa/XC113914.ogg
1,barswa,[],['song'],35.0307,-120.6205,Hirundo rustica,Barn Swallow,Thomas G. Graves,Creative Commons Attribution-NonCommercial-Sha...,4.5,https://www.xeno-canto.org/129647,barswa/XC129647.ogg
2,barswa,[],['song'],45.3675,-73.8566,Hirundo rustica,Barn Swallow,Patrick Turgeon,Creative Commons Attribution-NonCommercial-Sha...,3.0,https://www.xeno-canto.org/132406,barswa/XC132406.ogg
3,barswa,[],"['call', 'female', 'male', 'song']",56.1559,47.4939,Hirundo rustica,Barn Swallow,Albert Lastukhin,Creative Commons Attribution-NonCommercial-Sha...,3.0,https://www.xeno-canto.org/133096,barswa/XC133096.ogg
4,barswa,[],['song'],55.9937,-3.5605,Hirundo rustica,Barn Swallow,Mike Nelson,Creative Commons Attribution-NonCommercial-Sha...,3.0,https://www.xeno-canto.org/133802,barswa/XC133802.ogg

In [3]:
from eda import run_all_edas

from IPython.display import display

eda_tables = run_all_edas(df)
for name, table in eda_tables.items():
    print(f"=== {name} ===")
    display(table)

=== basic_overview ===

                    metric    value
0                     rows  4761.00
1                  columns    12.00
2                memory_mb     3.28
3    unique_primary_labels    10.00
4        unique_recordists   771.00
5     geotagged_recordings  4697.00
6        percent_geotagged    98.66
7  duplicate_species_codes      NaN
8              rating_mean     3.77
9               rating_std     1.10

=== missingness ===

              column  missing  missing_pct
0           latitude       64         1.34
1          longitude       64         1.34
2      primary_label        0         0.00
3   secondary_labels        0         0.00
4               type        0         0.00
5    scientific_name        0         0.00
6        common_name        0         0.00
7             author        0         0.00
8            license        0         0.00
9             rating        0         0.00
10               url        0         0.00
11          filename        0         0.00

=== cardinality ===

              column    dtype  unique_values  unique_ratio
10               url   object           4761        1.0000
11          filename   object           4761        1.0000
4          longitude  float64           2663        0.5593
3           latitude  float64           2647        0.5560
7             author   object            771        0.1619
2               type   object            404        0.0849
1   secondary_labels   object             47        0.0099
9             rating  float64             11        0.0023
0      primary_label   object             10        0.0021
5    scientific_name   object             10        0.0021
6        common_name   object             10        0.0021
8            license   object              4        0.0008

=== label_distribution ===

  primary_label  records  records_pct
0        barswa      500        10.50
1        comsan      500        10.50
2       eaywag1      500        10.50
3       thrnig1      500        10.50
4        wlwwar      500        10.50
5        woosan      486        10.21
6       combuz1      477        10.02
7       eubeat1      437         9.18
8        hoopoe      436         9.16
9       cohmar1      425         8.93

=== recording_type_distribution ===

                                       type  records  records_pct
0                                  ['song']      777        16.32
1                           ['flight call']      669        14.05
2                                  ['call']      628        13.19
3                                      ['']      577        12.12
4                          ['male', 'song']      221         4.64
..                                      ...      ...          ...
399         ['"tilit" call', 'flight call']        1         0.02
400   ['low call', 'nocturnal flight call']        1         0.02
401  ['nocturnal flight call', 'weak call']        1         0.02
402           ['Some wind', 'call', 'male']        1         0.02
403        ['flight call', 'various calls']        1         0.02

[404 rows x 3 columns]

=== rating_distribution ===

    rating  records  records_pct
0      0.0      101         2.12
1      0.5        5         0.11
2      1.0       61         1.28
3      1.5       57         1.20
4      2.0      199         4.18
5      2.5      268         5.63
6      3.0      642        13.48
7      3.5      550        11.55
8      4.0     1210        25.41
9      4.5      568        11.93
10     5.0     1100        23.10

=== rating_summary ===

  statistic     value
0     count  4761.000
1      mean     3.773
2       std     1.100
3       min     0.000
4       25%     3.000
5       50%     4.000
6       75%     4.500
7       max     5.000

=== author_activity ===

                   author  records  records_pct
0        Albert Lastukhin      340         7.14
1         Stanislas Wroza      238         5.00
2       José Carlos Sires      231         4.85
3        Nelson Conceição       96         2.02
4        Ireneusz Oleksik       87         1.83
5            Jorge Leitão       85         1.79
6             Chris Batty       75         1.58
7          Jarek Matusiak       71         1.49
8          Ruslan Mazuryk       65         1.37
9            Lars Edenius       64         1.34
10            Alan Dalton       63         1.32
11  Irish Wildlife Sounds       60         1.26
12               Uku Paal       58         1.22
13    Alexander Hellquist       56         1.18
14         Cedric Mroczko       55         1.16
15         Grzegorz Lorek       54         1.13
16           Patrik Åberg       47         0.99
17        Louis A. Hansen       46         0.97
18        Romuald Mikusek       43         0.90
19           Jordi Calvet       42         0.88

=== license_distribution ===

                                             license  records  records_pct
0  Creative Commons Attribution-NonCommercial-Sha...     4394        92.29
1  Creative Commons Attribution-NonCommercial-Sha...      350         7.35
2        Creative Commons Attribution-ShareAlike 4.0       15         0.32
3        Creative Commons Attribution-ShareAlike 3.0        2         0.04

=== geo_summary ===

             metric    value
0      latitude_min  -37.721
1   latitude_median   49.634
2      latitude_max   71.977
3     longitude_min -123.044
4  longitude_median   10.203
5     longitude_max  177.685

=== secondary_label_count_distribution ===

   secondary_label_count  records  records_pct
0                      0     4528        95.11
1                      1      210         4.41
2                      2       21         0.44
3                      3        2         0.04

=== top_secondary_labels ===

   secondary_label  occurrences  occurrences_pct
0           wlwwar           55            21.32
1           barswa           43            16.67
2          cohmar1           32            12.40
3          eaywag1           20             7.75
4          eubeat1           14             5.43
5          thrnig1           11             4.26
6           hoopoe           10             3.88
7           comsan            9             3.49
8          combuz1            8             3.10
9           rindov            5             1.94
10          woosan            5             1.94
11         combul2            4             1.55
12         spwlap1            3             1.16
13         varsun2            2             0.78
14         rerswa1            2             0.78
15         wbswea1            2             0.78
16         afmdov1            2             0.78
17         affeag1            2             0.78
18         lesmaw1            2             0.78
19         laudov1            2             0.78

In [4]:
# Show relevant metadata rows for top 10 species in terms of primary label counts
top_10_species = df['primary_label'].value_counts().nlargest(10).index
for species in top_10_species:
    print(f"--- Metadata for species: {species} ---")
    display(df[df['primary_label'] == species].head())

--- Metadata for species: barswa ---

,primary_label,secondary_labels,type,latitude,longitude,scientific_name,common_name,author,license,rating,url,filename
0,barswa,[],"['call', 'flight call']",46.4605,6.3914,Hirundo rustica,Barn Swallow,Bram Piot,Creative Commons Attribution-NonCommercial-Sha...,2.5,https://www.xeno-canto.org/113914,barswa/XC113914.ogg
1,barswa,[],['song'],35.0307,-120.6205,Hirundo rustica,Barn Swallow,Thomas G. Graves,Creative Commons Attribution-NonCommercial-Sha...,4.5,https://www.xeno-canto.org/129647,barswa/XC129647.ogg
2,barswa,[],['song'],45.3675,-73.8566,Hirundo rustica,Barn Swallow,Patrick Turgeon,Creative Commons Attribution-NonCommercial-Sha...,3.0,https://www.xeno-canto.org/132406,barswa/XC132406.ogg
3,barswa,[],"['call', 'female', 'male', 'song']",56.1559,47.4939,Hirundo rustica,Barn Swallow,Albert Lastukhin,Creative Commons Attribution-NonCommercial-Sha...,3.0,https://www.xeno-canto.org/133096,barswa/XC133096.ogg
4,barswa,[],['song'],55.9937,-3.5605,Hirundo rustica,Barn Swallow,Mike Nelson,Creative Commons Attribution-NonCommercial-Sha...,3.0,https://www.xeno-canto.org/133802,barswa/XC133802.ogg

--- Metadata for species: comsan ---

,primary_label,secondary_labels,type,latitude,longitude,scientific_name,common_name,author,license,rating,url,filename
1402,comsan,['cohmar1'],['flight call'],46.4605,6.3914,Actitis hypoleucos,Common Sandpiper,Bram Piot,Creative Commons Attribution-NonCommercial-Sha...,2.5,https://www.xeno-canto.org/113844,comsan/XC113844.ogg
1403,comsan,[],['call'],26.6667,93.3501,Actitis hypoleucos,Common Sandpiper,Mike Nelson,Creative Commons Attribution-NonCommercial-Sha...,4.0,https://www.xeno-canto.org/117022,comsan/XC117022.ogg
1404,comsan,[],"['call', 'flight call']",68.5350,23.3210,Actitis hypoleucos,Common Sandpiper,Stein Ø. Nilsen,Creative Commons Attribution-NonCommercial-Sha...,4.5,https://www.xeno-canto.org/123893,comsan/XC123893.ogg
1405,comsan,[],"['female', 'flight call', 'male', 'song']",52.3527,20.9197,Actitis hypoleucos,Common Sandpiper,Jarek Matusiak,Creative Commons Attribution-NonCommercial-Sha...,5.0,https://www.xeno-canto.org/129378,comsan/XC129378.ogg
1406,comsan,[],['song'],56.5183,47.2637,Actitis hypoleucos,Common Sandpiper,Albert Lastukhin,Creative Commons Attribution-NonCommercial-Sha...,2.0,https://www.xeno-canto.org/132076,comsan/XC132076.ogg

--- Metadata for species: eaywag1 ---

,primary_label,secondary_labels,type,latitude,longitude,scientific_name,common_name,author,license,rating,url,filename
1902,eaywag1,[],['flight call'],14.7540,-17.4110,Motacilla flava,Western Yellow Wagtail,Bram Piot,Creative Commons Attribution-NonCommercial-Sha...,4.0,https://www.xeno-canto.org/118267,eaywag1/XC118267.ogg
1903,eaywag1,[],"['Some wind', 'call', 'male']",44.6450,-1.0337,Motacilla flava,Western Yellow Wagtail,Nicole Bouglouan,Creative Commons Attribution-NonCommercial-Sha...,3.5,https://www.xeno-canto.org/131436,eaywag1/XC131436.ogg
1904,eaywag1,[],"['call', 'male']",52.8729,20.6474,Motacilla flava,Western Yellow Wagtail,Piotr Szczypiński,Creative Commons Attribution-NonCommercial-Sha...,3.5,https://www.xeno-canto.org/132637,eaywag1/XC132637.ogg
1905,eaywag1,[],"['flight call', 'male']",56.1285,47.3607,Motacilla flava,Western Yellow Wagtail,Albert Lastukhin,Creative Commons Attribution-NonCommercial-Sha...,3.0,https://www.xeno-canto.org/133264,eaywag1/XC133264.ogg
1906,eaywag1,[],"['male', 'song']",56.1286,47.3598,Motacilla flava,Western Yellow Wagtail,Albert Lastukhin,Creative Commons Attribution-NonCommercial-Sha...,4.0,https://www.xeno-canto.org/133266,eaywag1/XC133266.ogg

--- Metadata for species: thrnig1 ---

,primary_label,secondary_labels,type,latitude,longitude,scientific_name,common_name,author,license,rating,url,filename
3275,thrnig1,[],['song'],58.5264,13.8637,Luscinia luscinia,Thrush Nightingale,Patrik Åberg,Creative Commons Attribution-NonCommercial-Sha...,4.5,https://www.xeno-canto.org/110335,thrnig1/XC110335.ogg
3276,thrnig1,[],['song'],59.1763,15.4038,Luscinia luscinia,Thrush Nightingale,Patrik Åberg,Creative Commons Attribution-NonCommercial-Sha...,5.0,https://www.xeno-canto.org/110336,thrnig1/XC110336.ogg
3277,thrnig1,[],['song'],59.8510,17.6230,Luscinia luscinia,Thrush Nightingale,Sander Bot,Creative Commons Attribution-NonCommercial-Sha...,3.0,https://www.xeno-canto.org/112492,thrnig1/XC112492.ogg
3278,thrnig1,[],"['male', 'song']",61.5650,29.5650,Luscinia luscinia,Thrush Nightingale,Steve Klasan,Creative Commons Attribution-NonCommercial-Sha...,5.0,https://www.xeno-canto.org/118260,thrnig1/XC118260.ogg
3279,thrnig1,[],['song'],52.4430,21.0940,Luscinia luscinia,Thrush Nightingale,Lars Lachmann,Creative Commons Attribution-NonCommercial-Sha...,4.5,https://www.xeno-canto.org/120947,thrnig1/XC120947.ogg

--- Metadata for species: wlwwar ---

,primary_label,secondary_labels,type,latitude,longitude,scientific_name,common_name,author,license,rating,url,filename
3775,wlwwar,[],['song'],58.3880,14.2870,Phylloscopus trochilus,Willow Warbler,Patrik Åberg,Creative Commons Attribution-NonCommercial-Sha...,4.5,https://www.xeno-canto.org/112689,wlwwar/XC112689.ogg
3776,wlwwar,[],['song'],58.0010,24.9830,Phylloscopus trochilus,Willow Warbler,Jarek Matusiak,Creative Commons Attribution-NonCommercial-Sha...,4.0,https://www.xeno-canto.org/113729,wlwwar/XC113729.ogg
3777,wlwwar,[],['song'],51.3098,23.0717,Phylloscopus trochilus,Willow Warbler,Jarek Matusiak,Creative Commons Attribution-NonCommercial-Sha...,5.0,https://www.xeno-canto.org/113737,wlwwar/XC113737.ogg
3778,wlwwar,[],['song'],46.3664,6.1626,Phylloscopus trochilus,Willow Warbler,Bram Piot,Creative Commons Attribution-NonCommercial-Sha...,3.5,https://www.xeno-canto.org/113972,wlwwar/XC113972.ogg
3779,wlwwar,[],"['begging call', 'juvenile']",65.5644,23.7663,Phylloscopus trochilus,Willow Warbler,Johan Södercrantz,Creative Commons Attribution-NonCommercial-Sha...,4.0,https://www.xeno-canto.org/119302,wlwwar/XC119302.ogg

--- Metadata for species: woosan ---

,primary_label,secondary_labels,type,latitude,longitude,scientific_name,common_name,author,license,rating,url,filename
4275,woosan,['eaywag1'],['call'],58.2887,14.0501,Tringa glareola,Wood Sandpiper,Patrik Åberg,Creative Commons Attribution-NonCommercial-Sha...,4.5,https://www.xeno-canto.org/110316,woosan/XC110316.ogg
4276,woosan,['wfbeat1'],['flight call'],-17.8796,25.8156,Tringa glareola,Wood Sandpiper,Bram Piot,Creative Commons Attribution-NonCommercial-Sha...,3.5,https://www.xeno-canto.org/127465,woosan/XC127465.ogg
4277,woosan,[],['flight call'],22.6419,88.5526,Tringa glareola,Wood Sandpiper,Sudipto Roy,Creative Commons Attribution-ShareAlike 3.0,4.0,https://www.xeno-canto.org/128179,woosan/XC128179.ogg
4278,woosan,[],['flight call'],39.0693,118.2113,Tringa glareola,Wood Sandpiper,Matt Slaymaker,Creative Commons Attribution-NonCommercial-Sha...,3.5,https://www.xeno-canto.org/131502,woosan/XC131502.ogg
4279,woosan,[],"['call', 'song']",53.2770,22.6020,Tringa glareola,Wood Sandpiper,Lars Lachmann,Creative Commons Attribution-NonCommercial-Sha...,3.5,https://www.xeno-canto.org/133322,woosan/XC133322.ogg

--- Metadata for species: combuz1 ---

,primary_label,secondary_labels,type,latitude,longitude,scientific_name,common_name,author,license,rating,url,filename
925,combuz1,[],"['begging call', 'juvenile']",58.4278,14.2273,Buteo buteo,Common Buzzard,Patrik Åberg,Creative Commons Attribution-NonCommercial-Sha...,5.0,https://www.xeno-canto.org/112692,combuz1/XC112692.ogg
926,combuz1,[],"['begging call', 'juvenile']",52.0884,4.3291,Buteo buteo,Common Buzzard,Herman van der Meer,Creative Commons Attribution-NonCommercial-Sha...,4.5,https://www.xeno-canto.org/114415,combuz1/XC114415.ogg
927,combuz1,[],"['alarm call', 'flight call', 'male']",58.9937,27.1943,Buteo buteo,Common Buzzard,Jarek Matusiak,Creative Commons Attribution-NonCommercial-Sha...,3.5,https://www.xeno-canto.org/120169,combuz1/XC120169.ogg
928,combuz1,['combuz1'],['call'],52.9094,70.6202,Buteo buteo,Common Buzzard,Patrick Franke,Creative Commons Attribution-NonCommercial-Sha...,4.5,https://www.xeno-canto.org/120413,combuz1/XC120413.ogg
929,combuz1,[],"['call', 'flight call']",54.1373,9.2160,Buteo buteo,Common Buzzard,Volker Arnold,Creative Commons Attribution-NonCommercial-Sha...,5.0,https://www.xeno-canto.org/125105,combuz1/XC125105.ogg

--- Metadata for species: eubeat1 ---

,primary_label,secondary_labels,type,latitude,longitude,scientific_name,common_name,author,license,rating,url,filename
2402,eubeat1,[],"['call', 'flight call']",45.0124,4.9208,Merops apiaster,European Bee-eater,Bram Piot,Creative Commons Attribution-NonCommercial-Sha...,3.5,https://www.xeno-canto.org/113910,eubeat1/XC113910.ogg
2403,eubeat1,[],['call'],52.9296,23.8513,Merops apiaster,European Bee-eater,Krzysztof Deoniziak,Creative Commons Attribution-NonCommercial-Sha...,3.5,https://www.xeno-canto.org/116937,eubeat1/XC116937.ogg
2404,eubeat1,[],['call'],52.9296,23.8513,Merops apiaster,European Bee-eater,Krzysztof Deoniziak,Creative Commons Attribution-NonCommercial-Sha...,4.0,https://www.xeno-canto.org/116938,eubeat1/XC116938.ogg
2405,eubeat1,['rindov'],['flight call'],-17.8796,25.8156,Merops apiaster,European Bee-eater,Bram Piot,Creative Commons Attribution-NonCommercial-Sha...,2.5,https://www.xeno-canto.org/125563,eubeat1/XC125563.ogg
2406,eubeat1,[],['flight call'],-28.8865,24.8353,Merops apiaster,European Bee-eater,Sander Bot,Creative Commons Attribution-NonCommercial-Sha...,4.0,https://www.xeno-canto.org/126210,eubeat1/XC126210.ogg

--- Metadata for species: hoopoe ---

,primary_label,secondary_labels,type,latitude,longitude,scientific_name,common_name,author,license,rating,url,filename
2839,hoopoe,['wlwwar'],['song'],48.5320,17.2310,Upupa epops,Eurasian Hoopoe,Alexander Kurthy,Creative Commons Attribution-ShareAlike 4.0,3.5,https://www.xeno-canto.org/108366,hoopoe/XC108366.ogg
2840,hoopoe,[],['excitement call'],48.6094,66.9680,Upupa epops,Eurasian Hoopoe,Patrick Franke,Creative Commons Attribution-NonCommercial-Sha...,4.5,https://www.xeno-canto.org/120381,hoopoe/XC120381.ogg
2841,hoopoe,['barswa'],['song'],46.4766,80.9005,Upupa epops,Eurasian Hoopoe,Patrick Franke,Creative Commons Attribution-NonCommercial-Sha...,3.5,https://www.xeno-canto.org/120517,hoopoe/XC120517.ogg
2842,hoopoe,[],['song'],-28.8865,24.8353,Upupa epops,Eurasian Hoopoe,Sander Bot,Creative Commons Attribution-NonCommercial-Sha...,2.5,https://www.xeno-canto.org/125950,hoopoe/XC125950.ogg
2843,hoopoe,[],"['male', 'song']",50.1520,15.3088,Upupa epops,Eurasian Hoopoe,Miroslav Jelinek,Creative Commons Attribution-NonCommercial-Sha...,5.0,https://www.xeno-canto.org/132791,hoopoe/XC132791.ogg

--- Metadata for species: cohmar1 ---

,primary_label,secondary_labels,type,latitude,longitude,scientific_name,common_name,author,license,rating,url,filename
500,cohmar1,['wlwwar'],['call'],58.4834,14.5014,Delichon urbicum,Common House-Martin,Patrik Åberg,Creative Commons Attribution-NonCommercial-Sha...,4.5,https://www.xeno-canto.org/110322,cohmar1/XC110322.ogg
501,cohmar1,[],['flight call'],54.5592,11.9695,Delichon urbicum,Common House-Martin,Louis A. Hansen,Creative Commons Attribution-NonCommercial-Sha...,3.5,https://www.xeno-canto.org/127568,cohmar1/XC127568.ogg
502,cohmar1,[],"['flight call', 'song']",45.6851,11.0856,Delichon urbicum,Common House-Martin,Roberto Lerco,Creative Commons Attribution-NonCommercial-Sha...,5.0,https://www.xeno-canto.org/133444,cohmar1/XC133444.ogg
503,cohmar1,[],['flight call'],56.5642,47.1519,Delichon urbicum,Common House-Martin,Albert Lastukhin,Creative Commons Attribution-NonCommercial-Sha...,3.0,https://www.xeno-canto.org/134649,cohmar1/XC134649.ogg
504,cohmar1,[],"['flight call', 'male', 'song']",56.5638,47.1516,Delichon urbicum,Common House-Martin,Albert Lastukhin,Creative Commons Attribution-NonCommercial-Sha...,3.0,https://www.xeno-canto.org/134651,cohmar1/XC134651.ogg